@import "tailwindcss";


body::-webkit-scrollbar {
  width: 0.25em;
  height:0;
}
body {
  scroll-behavior: smooth;
}

.hamburger{
  cursor: pointer;
  width:17px;
  height:16px;
  transition: all 0.25s;
  position:relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
  position: absolute;
  top:0;
  left:0;
  width:17px;
  height:3px;
  border-radius: 50px;
  background: #060606;
  transform: rotate(0);
  transition: all .5s;
}

.hamburger-middle{
  background-color: #121112;
  transform: translateY(7px);
}

.hamburger-bottom{
  transform: translateY(12px);
}
.open{
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top{
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle{
  transform:translateY(7px) translate(-100px); 
  opacity:0
}
.open .hamburger-bottom{
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}